---
import LegalLayout from '../layouts/LegalLayout.astro';
---

<LegalLayout title="Beschwerdemanagement" eyebrow="Rechtliches">
  <h2>Informationen zum Umgang mit Beschwerden</h2>
  <p>Sehr geehrte Kundin,<br />sehr geehrter Kunde,</p>

  <p>
    Ihre Zufriedenheit hat für uns höchste Priorität. Falls Sie dennoch einmal nicht mit unserer
    Tätigkeit zufrieden sein sollten, haben Sie die Möglichkeit, eine Beschwerde bei uns
    einzureichen.
  </p>

  <p>
    Die Beschwerde kann schriftlich per Brief, Fax oder E-Mail eingereicht werden. Sie können
    dazu die im Impressum unserer Internetseite angegebenen Adress- und Kontaktdaten verwenden.
    Erhalten wir von Ihnen eine Beschwerde, bestätigen wir Ihnen unverzüglich deren Eingang und
    unterrichten Sie über das Verfahren der Beschwerdebearbeitung sowie die ungefähre
    Bearbeitungszeit. Sollten wir feststellen, dass Ihre Beschwerde einen Gegenstand betrifft,
    für den wir nicht zuständig sind, informieren wir Sie umgehend hierüber und teilen Ihnen,
    soweit uns dies möglich ist, die zuständige Stelle mit.
  </p>

  <p>
    Wir werden Ihre Beschwerde umfassend prüfen und uns bemühen, diese schnellstmöglich zu
    beantworten. Sollte dies einmal nicht möglich sein, unterrichten wir Sie über die Gründe der
    Verzögerung und darüber, wann die Prüfung voraussichtlich abgeschlossen sein wird.
  </p>

  <p>Auf Wunsch erteilen wir Ihnen alle Benachrichtigungen und Informationen schriftlich.</p>

  <p>
    Sofern wir Ihrem Anliegen nicht oder nicht vollständig nachkommen können, erläutern wir
    Ihnen die Gründe hierfür und weisen Sie auf etwaig bestehende Möglichkeiten hin, wie Sie
    Ihr Anliegen weiterverfolgen können.
  </p>

  <p>
    Mit freundlichen Grüßen<br />
    Ihr Phönix Maklerverbund Team
  </p>

  <h2>Schlichtungsstelle</h2>
  <address>
    Schlichtungsstelle für gewerbliche Versicherungs-, Anlage- und Kreditvermittlung<br />
    Glockengießerwall 2<br />
    20095 Hamburg<br /><br />
    Telefon: +49 (0)40 696508-90<br />
    Fax: +49 (0)40 696508-91<br />
    E-Mail:
    <a href="mailto:kontakt@schlichtung-finanzberatung.de">kontakt@schlichtung-finanzberatung.de</a><br />
    Web:
    <a href="https://www.schlichtung-finanzberatung.de" target="_blank" rel="noopener">
      www.schlichtung-finanzberatung.de
    </a>
  </address>
</LegalLayout>
